django
django-cors-headers
gunicorn
psycopg2-binary
dj-database-url
python-decouple
djangorestframework
djangorestframework-simplejwt
django-filter
daphne
channels
requests
numpy>=1.26.0
scikit-learn>=1.4.0
joblib>=1.3.0
